# Java
*.class
*.jar
*.war
*.ear

# Eclipse/IntelliJ/VSCode
.classpath
.project
.settings/
*.iml
.idea/
.vscode/

# build / bin
/bin/
/target/
/out/

# libraries
/lib/*.jar

# OS
.DS_Store
Thumbs.db

# Maven/Gradle
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup

# logs
*.log

# OneDrive temp
~$*
